<h1 class="brand">knosis</h1>

<div class="row">
  <div class="span3">
  	<h2>Profile Area</h2>
  	Read the world differently!
	Waste no time reading. Visit 
	<%= link_to "Knosis", "http://getknosis.com" %> 
	for crowdsourced article analysis.
  </div>
  	<div class="span9"><h2>Main Content Area</h2>
    	<div class="row">
				<div class="span4 offset1">4 offset 1</div>
				<div class="span4">4</div>
</div>
</div>
</div>

<p>
	<%= link_to "Sign Up Now!", "#" %>
</p>
