<div class="row">
	  <div class="span6 offset3">
	  	<div class="well">
			<p>
			  <b>Most important insight <br>from the article:</b>
			  <%= @precap.description %>
			</p>
			<%= link_to 'Edit', edit_precap_path(@precap) %> |
			<%= link_to 'Back', precaps_path %>
			</div>
	</div>
</div>


